<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN_FILE"> %d{dd/MM/yyyy HH:mm:ss} %5p [%15.15t] %c{1.} : %m%n </Property>
		<Property name="LOG_PATTERN">	%m%n	</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" charset="UTF-8" />
		</Console>
		<RollingFile name="RollingFile">
			<FileName>logs/execution.log</FileName>
			<FilePattern>logs/backup/execution_%d{yyyy-MM-dd}.log
			</FilePattern>
			<PatternLayout pattern="${LOG_PATTERN_FILE}" charset="UTF-8" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="br.com.rsinet" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" level="INFO" />
			<AppenderRef ref="RollingFile"/>
		</Logger>
	</Loggers>
</Configuration>